.about {
    
        
       background-image: linear-gradient(
         -225deg,
         #231557 0%,
         #44107a 29%,
         #ff1361 67%,
         #fff800 100%
       );
       background-size: auto auto;
       background-clip: border-box;
       background-size: 200% auto;
       color: #fff;
       background-clip: text;
       text-fill-color: transparent;
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
       animation: textclip 2s linear infinite;
       display: inline-block;
           font-size: 3rem;
           font-weight: 700;
           margin-left: 12rem;
     }
     
     @keyframes textclip {
       to {
         background-position: 200% center;
       }
     }
.maindivabout{
    margin-top: 9rem;
}
.aboutpt{
    width: 75rem;
    margin-left: 10rem;
    font-size: 20px;
    font-weight: 500;
   
    
}
.usp{
    color:#2836b1 ;
    font-weight: 700;
}
.icons {
   
    margin-top: 5rem;
    display: flex;
    justify-content: space-evenly;
}
.icon {
    font-size: 5rem;
    
}